<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Services & why us</title>
</head>
<body>
  <div class="container">
    <!-- SERVICES -->
    <h2 class="title text-center">SERVICES</h2>
    <p class=" text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe qui consequuntur eius molestias tempora? Voluptatibus explicabo consectetur perferendis in, fuga ab minus, vel possimus fugit sunt dolorem veritatis neque rerum.</p>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          Service 1
        </div>
        <div class="col text-center">
          Service 2
        </div>
        <div class="w-100"></div>
        <div class="col text-center">
          Service 3
        </div>
        <div class="col text-center">
          Service 4
        </div>
      </div>
    </div>


    <!-- WHY US -->
    <h2 class="title text-center">WHY US</h2>
    <p class=" text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ut maxime in qui laborum inventore ad quis minima sunt voluptatibus, adipisci ipsam reiciendis tempora, vel culpa quos laboriosam reprehenderit aspernatur?</p>
    <div class="card-columns">
      <div class="card shadow p-2 mb-4 bg-white rounded">
        <div class="card-body text-center">
          <p class="card-text">01</p>
        </div>
      </div>
      <div class="card shadow p-2 mb-4 bg-white rounded">
        <div class="card-body text-center">
          <p class="card-text">02</p>
        </div>
      </div>
      <div class="card shadow p-2 mb-4 bg-white rounded">
        <div class="card-body text-center">
          <p class="card-text">03</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>