.ftco-counters
 {
    background-color: #2F5B96;
 }
 .Icon
 {
     height: 100px;
     width: 100px;
 }
 .ftco-counter-label {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2em;
    margin-bottom: 2em;
    display: block; }