.video ftco-video{ 
    background:url('../assets/img/examples/studio-3.jpg');
}
.parallax {
    /* The image used */
    background-image: url("../assets/img/project.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .formulaire
  {
      background-color: #2F5B96;
  }
  .blanc{
      color :white;
  }
  .form-control
  {
    background-color: #2F5B96;
    color : black;
  }
 